In [1]:
import requests
import pandas as pd

In [7]:
import_consumption_path = "datasets/disappearance.csv"

import_consumption_data = pd.read_csv(import_consumption_path)
import_consumption_data

,disappearance,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,Austria,1340.123985,1302.085970,1212.333964,1335.000982,1086.218996,1011.769996,1075.788000,1087.079597,1104.738197,...,885.715848,902.854329,1117.345643,1269.019458,1249.0,NaN,NaN,NaN,NaN,NaN
1,Belgium,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,934.292881,870.665179,934.468749,914.636559,1245.0,NaN,NaN,NaN,NaN,NaN
2,Belgium/Luxembourg,1124.109984,708.156980,696.372979,789.436984,958.214990,1073.014984,1038.637071,886.263764,1309.406477,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Bulgaria,101.782998,16.761001,174.878012,326.955006,352.764006,393.408007,246.474995,274.918003,324.160004,...,409.275903,395.357991,359.519751,375.941251,419.0,NaN,NaN,NaN,NaN,NaN
4,Croatia,NaN,NaN,134.545004,131.890000,163.862001,288.481005,304.468998,361.396003,319.730000,...,365.637529,369.838593,367.153143,360.364120,387.0,NaN,NaN,NaN,NaN,NaN
5,Cyprus,30.570999,44.697000,39.303999,77.516000,45.369001,42.678000,51.740999,46.495999,46.205999,...,75.437867,73.905648,80.793525,85.398320,89.0,NaN,NaN,NaN,NaN,NaN
6,Czech Republic,659.433000,525.274000,472.156004,448.395004,508.724000,511.453998,474.992003,484.579999,523.407997,...,525.168046,469.731678,572.458470,685.226286,637.0,NaN,NaN,NaN,NaN,NaN
7,Denmark,865.138999,908.542001,958.834999,890.555997,908.483001,757.796998,895.013997,808.457194,853.660094,...,676.252995,806.488750,762.258628,799.824326,822.0,NaN,NaN,NaN,NaN,NaN
8,Estonia,NaN,NaN,12.909000,44.188998,63.163995,82.848004,84.214010,98.861998,89.530996,...,123.493948,104.782704,66.614409,103.980513,120.0,NaN,NaN,NaN,NaN,NaN
9,Finland,1070.434998,965.553999,1030.327999,1128.863992,1049.507994,734.677996,900.641895,939.425296,1001.365097,...,1058.406243,1080.424215,1092.977075,1082.025985,1095.0,NaN,NaN,NaN,NaN,NaN
10,France,5205.172363,5556.988033,5614.452697,5506.780037,5110.872038,5312.681708,5512.406007,5486.910846,5350.690608,...,5676.749771,5712.898509,5961.952791,5790.294638,5707.0,NaN,NaN,NaN,NaN,NaN
11,Germany,7279.256961,12377.215949,9570.401951,11324.732941,8213.944942,11231.450951,10593.686345,9670.068157,9976.165560,...,8896.933062,9291.958859,9460.349561,8829.742963,9378.0,NaN,NaN,NaN,NaN,NaN
12,Greece,630.796004,386.942006,320.167003,147.720002,356.286002,383.374004,714.887606,738.871204,667.663505,...,973.875511,993.691856,1022.548775,1076.098610,1101.0,NaN,NaN,NaN,NaN,NaN
13,Hungary,573.974000,380.227997,348.358996,556.781996,723.930996,447.414998,570.962999,601.649002,652.366990,...,445.285841,375.714471,180.065870,252.242375,177.0,NaN,NaN,NaN,NaN,NaN
14,Ireland,119.885001,112.966001,90.729000,107.310001,127.123001,106.530001,86.773002,96.958601,91.735901,...,134.496255,159.982095,178.633597,214.096242,196.0,NaN,NaN,NaN,NaN,NaN
15,Italy,4832.293986,4254.039984,4132.135981,4888.262978,4773.629974,4644.358975,4775.914473,4912.919079,4935.936371,...,5806.024594,5781.318961,5689.331772,5709.763166,5634.0,NaN,NaN,NaN,NaN,NaN
16,Latvia,NaN,NaN,19.258999,41.447997,5.646998,14.191625,49.767166,119.967441,134.113242,...,88.113153,98.595059,101.030448,101.186596,95.0,NaN,NaN,NaN,NaN,NaN
17,Lithuania,NaN,NaN,1.554000,8.800001,37.149991,67.613455,66.181325,108.337192,135.057119,...,209.777159,222.626126,179.782902,193.218724,197.0,NaN,NaN,NaN,NaN,NaN
18,Luxembourg,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,221.906974,232.284391,214.566787,212.232088,241.0,NaN,NaN,NaN,NaN,NaN
19,Malta,19.612998,12.945002,15.815001,21.772001,11.590998,21.201640,9.075070,8.847360,6.585761,...,14.123640,12.027799,15.557007,20.997838,22.0,NaN,NaN,NaN,NaN,NaN
20,Netherlands,2382.753011,2487.661011,3260.867014,2719.452004,2122.206012,2293.421015,2509.358211,2366.727820,1960.917520,...,897.811609,1347.082287,909.250259,1382.460759,1625.0,NaN,NaN,NaN,NaN,NaN
21,Poland,334.592001,243.024002,1650.229026,1544.714877,1742.163407,1636.660097,1755.456208,1966.017606,1964.537617,...,2001.007687,2155.712018,2034.287928,1936.126692,1669.0,NaN,NaN,NaN,NaN,NaN
22,Portugal,467.019000,448.389000,572.914001,529.177002,672.811002,632.178999,615.094599,602.880501,695.854401,...,731.085414,812.172228,858.924785,828.079646,840.0,NaN,NaN,NaN,NaN,NaN
23,Romania,441.534003,335.417012,600.683022,419.590015,347.046996,549.776006,696.168000,630.301005,584.465004,...,774.944821,795.874743,801.900201,849.223610,891.0,NaN,NaN,NaN,NaN,NaN
24,Slovakia,NaN,NaN,NaN,275.695993,233.555220,222.994240,244.469374,234.455789,241.493225,...,212.745245,337.066973,387.741313,201.076477,328.0,NaN,NaN,NaN,NaN,NaN
25,Slovenia,NaN,NaN,115.498999,147.587998,152.060003,139.529000,163.832232,160.726589,162.028966,...,198.275123,205.066084,207.719155,184.991224,184.0,NaN,NaN,NaN,NaN,NaN
26,Spain,2713.713000,2651.268001,3044.679002,2727.611000,2774.188001,2731.736003,2901.202203,2977.133299,2996.362501,...,3351.866483,3231.861505,3148.731131,3435.225278,3234.0,NaN,NaN,NaN,NaN,NaN
27,Sweden,1689.342000,1603.556994,1634.134995,1618.394002,1669.373000,1203.841991,1297.798791,1240.741089,1248.124691,...,1132.892674,1221.449083,1125.013125,1159.329876,1175.0,NaN,NaN,NaN,NaN,NaN
28,United Kingdom,2348.087010,2341.740004,2516.008008,2533.688011,2639.738012,2199.806018,2406.060515,2440.766518,2587.820315,...,3220.111866,3134.144304,2925.449461,2925.873324,2828.0,NaN,NaN,NaN,NaN,NaN
29,Japan,5059.848004,5808.974002,5132.431998,5739.836005,5973.032006,6116.008005,5837.947004,5968.169000,6051.945002,...,7130.403460,7192.398002,7014.853810,7130.946647,7435.0,7494.0,7695.0,7872.0,7742.0,7833.595667
30,Norway,726.664002,757.653000,736.464001,690.230001,799.610000,657.140000,713.294601,675.019402,702.473800,...,715.239498,745.699530,785.126654,723.366675,763.0,729.0,788.0,782.0,781.0,734.166739
31,Russian Federation,NaN,NaN,1377.157008,1794.731013,1712.206019,1650.292013,1063.122006,1857.460179,1647.071621,...,3112.871956,3700.279793,3754.190254,3696.164301,3648.0,4021.0,3846.0,4439.0,4512.0,4233.503774
32,Switzerland,907.479003,948.890001,994.891003,868.791005,944.377004,935.126003,922.093000,712.429997,810.527001,...,965.544629,1011.808333,1034.974306,1047.082494,1123.0,1028.0,1096.0,1066.0,894.0,1170.286972
33,Tunisia,100.999998,90.201001,110.583001,100.624001,137.267000,136.783001,143.650001,164.617001,147.417000,...,288.727161,301.474249,415.374266,421.136277,429.0,460.0,458.0,465.0,546.0,532.800391
34,USA,18297.618001,18661.180001,18290.452996,19217.136997,17326.103994,17362.870986,18059.000790,17795.448195,18603.798693,...,21435.967112,21783.457919,22043.891384,22231.663715,23417.0,23767.0,24438.0,25243.0,26183.0,26514.327404

In [8]:
import_renamed = import_consumption_data.rename(columns ={"disappearance" : "Country"})
import_renamed.head()

,Country,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,Austria,1340.123985,1302.085970,1212.333964,1335.000982,1086.218996,1011.769996,1075.788000,1087.079597,1104.738197,...,885.715848,902.854329,1117.345643,1269.019458,1249.0,NaN,NaN,NaN,NaN,NaN
1,Belgium,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,934.292881,870.665179,934.468749,914.636559,1245.0,NaN,NaN,NaN,NaN,NaN
2,Belgium/Luxembourg,1124.109984,708.156980,696.372979,789.436984,958.214990,1073.014984,1038.637071,886.263764,1309.406477,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Bulgaria,101.782998,16.761001,174.878012,326.955006,352.764006,393.408007,246.474995,274.918003,324.160004,...,409.275903,395.357991,359.519751,375.941251,419.0,NaN,NaN,NaN,NaN,NaN
4,Croatia,NaN,NaN,134.545004,131.890000,163.862001,288.481005,304.468998,361.396003,319.730000,...,365.637529,369.838593,367.153143,360.364120,387.0,NaN,NaN,NaN,NaN,NaN

In [20]:
cleaned_import = import_renamed.fillna(0)
cleaned_import

,Country,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,Austria,1340.123985,1302.085970,1212.333964,1335.000982,1086.218996,1011.769996,1075.788000,1087.079597,1104.738197,...,885.715848,902.854329,1117.345643,1269.019458,1249.0,0.0,0.0,0.0,0.0,0.000000
1,Belgium,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,934.292881,870.665179,934.468749,914.636559,1245.0,0.0,0.0,0.0,0.0,0.000000
2,Belgium/Luxembourg,1124.109984,708.156980,696.372979,789.436984,958.214990,1073.014984,1038.637071,886.263764,1309.406477,...,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000
3,Bulgaria,101.782998,16.761001,174.878012,326.955006,352.764006,393.408007,246.474995,274.918003,324.160004,...,409.275903,395.357991,359.519751,375.941251,419.0,0.0,0.0,0.0,0.0,0.000000
4,Croatia,0.000000,0.000000,134.545004,131.890000,163.862001,288.481005,304.468998,361.396003,319.730000,...,365.637529,369.838593,367.153143,360.364120,387.0,0.0,0.0,0.0,0.0,0.000000
5,Cyprus,30.570999,44.697000,39.303999,77.516000,45.369001,42.678000,51.740999,46.495999,46.205999,...,75.437867,73.905648,80.793525,85.398320,89.0,0.0,0.0,0.0,0.0,0.000000
6,Czech Republic,659.433000,525.274000,472.156004,448.395004,508.724000,511.453998,474.992003,484.579999,523.407997,...,525.168046,469.731678,572.458470,685.226286,637.0,0.0,0.0,0.0,0.0,0.000000
7,Denmark,865.138999,908.542001,958.834999,890.555997,908.483001,757.796998,895.013997,808.457194,853.660094,...,676.252995,806.488750,762.258628,799.824326,822.0,0.0,0.0,0.0,0.0,0.000000
8,Estonia,0.000000,0.000000,12.909000,44.188998,63.163995,82.848004,84.214010,98.861998,89.530996,...,123.493948,104.782704,66.614409,103.980513,120.0,0.0,0.0,0.0,0.0,0.000000
9,Finland,1070.434998,965.553999,1030.327999,1128.863992,1049.507994,734.677996,900.641895,939.425296,1001.365097,...,1058.406243,1080.424215,1092.977075,1082.025985,1095.0,0.0,0.0,0.0,0.0,0.000000
10,France,5205.172363,5556.988033,5614.452697,5506.780037,5110.872038,5312.681708,5512.406007,5486.910846,5350.690608,...,5676.749771,5712.898509,5961.952791,5790.294638,5707.0,0.0,0.0,0.0,0.0,0.000000
11,Germany,7279.256961,12377.215949,9570.401951,11324.732941,8213.944942,11231.450951,10593.686345,9670.068157,9976.165560,...,8896.933062,9291.958859,9460.349561,8829.742963,9378.0,0.0,0.0,0.0,0.0,0.000000
12,Greece,630.796004,386.942006,320.167003,147.720002,356.286002,383.374004,714.887606,738.871204,667.663505,...,973.875511,993.691856,1022.548775,1076.098610,1101.0,0.0,0.0,0.0,0.0,0.000000
13,Hungary,573.974000,380.227997,348.358996,556.781996,723.930996,447.414998,570.962999,601.649002,652.366990,...,445.285841,375.714471,180.065870,252.242375,177.0,0.0,0.0,0.0,0.0,0.000000
14,Ireland,119.885001,112.966001,90.729000,107.310001,127.123001,106.530001,86.773002,96.958601,91.735901,...,134.496255,159.982095,178.633597,214.096242,196.0,0.0,0.0,0.0,0.0,0.000000
15,Italy,4832.293986,4254.039984,4132.135981,4888.262978,4773.629974,4644.358975,4775.914473,4912.919079,4935.936371,...,5806.024594,5781.318961,5689.331772,5709.763166,5634.0,0.0,0.0,0.0,0.0,0.000000
16,Latvia,0.000000,0.000000,19.258999,41.447997,5.646998,14.191625,49.767166,119.967441,134.113242,...,88.113153,98.595059,101.030448,101.186596,95.0,0.0,0.0,0.0,0.0,0.000000
17,Lithuania,0.000000,0.000000,1.554000,8.800001,37.149991,67.613455,66.181325,108.337192,135.057119,...,209.777159,222.626126,179.782902,193.218724,197.0,0.0,0.0,0.0,0.0,0.000000
18,Luxembourg,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,221.906974,232.284391,214.566787,212.232088,241.0,0.0,0.0,0.0,0.0,0.000000
19,Malta,19.612998,12.945002,15.815001,21.772001,11.590998,21.201640,9.075070,8.847360,6.585761,...,14.123640,12.027799,15.557007,20.997838,22.0,0.0,0.0,0.0,0.0,0.000000
20,Netherlands,2382.753011,2487.661011,3260.867014,2719.452004,2122.206012,2293.421015,2509.358211,2366.727820,1960.917520,...,897.811609,1347.082287,909.250259,1382.460759,1625.0,0.0,0.0,0.0,0.0,0.000000
21,Poland,334.592001,243.024002,1650.229026,1544.714877,1742.163407,1636.660097,1755.456208,1966.017606,1964.537617,...,2001.007687,2155.712018,2034.287928,1936.126692,1669.0,0.0,0.0,0.0,0.0,0.000000
22,Portugal,467.019000,448.389000,572.914001,529.177002,672.811002,632.178999,615.094599,602.880501,695.854401,...,731.085414,812.172228,858.924785,828.079646,840.0,0.0,0.0,0.0,0.0,0.000000
23,Romania,441.534003,335.417012,600.683022,419.590015,347.046996,549.776006,696.168000,630.301005,584.465004,...,774.944821,795.874743,801.900201,849.223610,891.0,0.0,0.0,0.0,0.0,0.000000
24,Slovakia,0.000000,0.000000,0.000000,275.695993,233.555220,222.994240,244.469374,234.455789,241.493225,...,212.745245,337.066973,387.741313,201.076477,328.0,0.0,0.0,0.0,0.0,0.000000
25,Slovenia,0.000000,0.000000,115.498999,147.587998,152.060003,139.529000,163.832232,160.726589,162.028966,...,198.275123,205.066084,207.719155,184.991224,184.0,0.0,0.0,0.0,0.0,0.000000
26,Spain,2713.713000,2651.268001,3044.679002,2727.611000,2774.188001,2731.736003,2901.202203,2977.133299,2996.362501,...,3351.866483,3231.861505,3148.731131,3435.225278,3234.0,0.0,0.0,0.0,0.0,0.000000
27,Sweden,1689.342000,1603.556994,1634.134995,1618.394002,1669.373000,1203.841991,1297.798791,1240.741089,1248.124691,...,1132.892674,1221.449083,1125.013125,1159.329876,1175.0,0.0,0.0,0.0,0.0,0.000000
28,United Kingdom,2348.087010,2341.740004,2516.008008,2533.688011,2639.738012,2199.806018,2406.060515,2440.766518,2587.820315,...,3220.111866,3134.144304,2925.449461,2925.873324,2828.0,0.0,0.0,0.0,0.0,0.000000
29,Japan,5059.848004,5808.974002,5132.431998,5739.836005,5973.032006,6116.008005,5837.947004,5968.169000,6051.945002,...,7130.403460,7192.398002,7014.853810,7130.946647,7435.0,7494.0,7695.0,7872.0,7742.0,7833.595667
30,Norway,726.664002,757.653000,736.464001,690.230001,799.610000,657.140000,713.294601,675.019402,702.473800,...,715.239498,745.699530,785.126654,723.366675,763.0,729.0,788.0,782.0,781.0,734.166739
31,Russian Federation,0.000000,0.000000,1377.157008,1794.731013,1712.206019,1650.292013,1063.122006,1857.460179,1647.071621,...,3112.871956,3700.279793,3754.190254,3696.164301,3648.0,4021.0,3846.0,4439.0,4512.0,4233.503774
32,Switzerland,907.479003,948.890001,994.891003,868.791005,944.377004,935.126003,922.093000,712.429997,810.527001,...,965.544629,1011.808333,1034.974306,1047.082494,1123.0,1028.0,1096.0,1066.0,894.0,1170.286972
33,Tunisia,100.999998,90.201001,110.583001,100.624001,137.267000,136.783001,143.650001,164.617001,147.417000,...,288.727161,301.474249,415.374266,421.136277,429.0,460.0,458.0,465.0,546.0,532.800391
34,USA,18297.618001,18661.180001,18290.452996,19217.136997,17326.103994,17362.870986,18059.000790,17795.448195,18603.798693,...,21435.967112,21783.457919,22043.891384,22231.663715,23417.0,23767.0,24438.0,25243.0,26183.0,26514.327404

In [10]:
export_consumption_path = "datasets/domestic-consumption.csv"

export_consumption_data = pd.read_csv(export_consumption_path)
export_consumption_data

,domestic_consumption,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,Angola,20.000,30.000,35.000,20.000,25.000,10.000,20.000,40.000,30.000,...,30.000,30.000,30.000,30.000,30.000,30.000,30.000,30.0000,30.000,30.000
1,Bolivia (Plurinational State of),25.000,27.000,27.500,28.500,29.500,30.500,31.500,32.500,33.000,...,46.000,47.500,49.000,50.500,52.000,53.500,55.000,57.0000,58.500,60.000
2,Brazil,8200.000,8500.000,8900.000,9100.000,9300.000,10100.000,11000.000,11500.000,12200.000,...,18390.000,19132.000,19720.000,20330.000,20085.000,20333.000,20508.000,21225.0000,21997.000,22250.000
3,Burundi,2.000,1.600,1.700,1.910,2.000,2.000,2.000,2.000,2.000,...,1.399,2.000,2.000,2.000,2.000,2.000,2.000,2.0000,2.000,2.000
4,Ecuador,350.000,350.000,350.000,350.000,350.000,350.000,300.000,300.000,300.000,...,150.000,150.000,150.000,150.000,155.000,155.000,155.000,155.0000,155.000,155.000
5,Indonesia,1242.000,1280.000,1319.000,1359.000,1400.000,1443.000,1486.000,1532.000,1578.000,...,3333.000,3333.000,3667.000,3900.000,4250.000,4417.000,4550.000,4650.0000,4750.000,4800.000
6,Madagascar,350.000,300.000,350.000,360.000,166.666,167.000,167.000,167.000,167.000,...,467.000,467.000,450.000,430.000,410.000,390.000,370.000,360.0000,365.000,375.000
7,Malawi,2.000,2.000,2.000,2.000,2.000,2.000,2.000,2.000,2.000,...,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.0000,1.000,1.000
8,Papua New Guinea,3.000,3.000,3.000,2.000,2.000,2.000,2.000,2.000,1.000,...,2.000,1.430,1.236,1.711,2.039,1.924,1.800,2.0000,2.000,2.000
9,Paraguay,15.000,15.000,15.000,20.000,20.000,20.000,20.000,20.000,20.000,...,20.000,20.000,20.000,20.000,20.000,20.000,20.000,20.0000,20.000,20.000
10,Peru,190.000,190.000,200.000,200.000,200.000,200.000,200.000,200.000,200.000,...,250.000,250.000,250.000,250.000,250.000,250.000,250.000,250.0000,250.000,250.000
11,Rwanda,1.000,1.000,1.000,1.000,1.000,1.000,1.000,3.000,3.000,...,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.0000,1.000,1.000
12,Timor-Leste,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.490,0.490,0.490,0.490,0.490,0.490,0.4900,0.490,0.490
13,Zimbabwe,8.000,8.000,8.000,8.333,8.333,6.600,4.000,4.000,4.000,...,4.000,4.000,4.000,4.000,4.000,4.000,4.000,4.0000,4.000,4.000
14,Congo,3.000,2.667,2.667,3.000,3.000,3.000,3.000,3.000,3.000,...,3.000,3.000,3.000,3.000,3.000,3.000,3.000,3.0000,3.000,3.000
15,Cuba,213.000,213.000,195.000,194.100,194.000,194.000,189.000,195.000,200.000,...,220.000,220.000,220.000,220.000,220.000,220.000,220.000,220.0000,220.000,220.000
16,Dominican Republic,320.000,320.000,320.000,320.000,330.000,350.000,325.000,325.000,325.000,...,378.000,378.000,378.000,378.000,383.333,388.000,388.000,390.0000,390.000,390.000
17,Haiti,220.000,330.000,330.000,330.000,330.000,330.000,330.000,330.000,330.000,...,340.000,340.000,340.000,340.000,340.000,340.000,340.000,340.0000,340.000,345.000
18,Philippines,720.000,750.000,750.000,770.000,790.000,810.000,831.000,853.000,810.000,...,1820.000,2125.000,2175.000,2325.000,2550.000,2800.000,3000.000,3030.0000,3180.000,3300.000
19,Tanzania,4.000,3.500,19.200,17.500,17.500,13.600,16.600,17.000,17.000,...,47.000,47.000,58.950,71.700,73.467,76.717,92.050,91.3000,91.667,92.000
20,Zambia,1.500,1.500,1.432,1.000,1.500,0.600,1.000,0.600,0.600,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.0000,0.000,0.000
21,Benin,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.0000,0.000,0.000
22,Cameroon,83.300,83.333,83.333,100.000,100.000,100.000,100.000,100.000,100.000,...,69.000,68.333,70.017,71.733,73.483,75.317,76.000,77.0000,78.000,78.000
23,Central African Republic,28.000,28.000,28.000,25.000,15.000,10.000,10.000,10.000,19.000,...,8.333,10.000,13.333,16.667,20.000,20.000,20.000,20.0000,20.000,20.000
24,Colombia,1235.000,1269.000,1303.000,1339.000,1375.000,1359.000,1343.000,1328.000,1312.000,...,1274.479,1311.024,1435.065,1514.242,1617.020,1665.451,1720.373,1736.4414,1793.271,1791.410
25,Costa Rica,375.000,375.000,375.000,375.000,375.000,375.000,375.000,375.000,375.000,...,295.441,407.221,380.888,423.097,335.060,380.742,448.821,329.4570,353.334,365.000
26,Côte d'Ivoire,50.000,50.000,50.000,50.000,50.000,50.000,50.000,50.000,50.000,...,317.000,317.000,317.000,317.000,317.000,317.000,317.000,317.0000,317.000,317.000
27,Democratic Republic of Congo,200.000,200.000,200.000,200.000,200.000,200.000,200.000,200.000,200.000,...,200.000,200.000,200.000,200.000,200.000,200.000,200.000,200.0000,200.000,200.000
28,El Salvador,180.000,180.000,230.000,230.000,230.000,270.000,230.000,191.667,191.667,...,268.300,276.000,273.400,276.600,275.000,280.000,285.000,292.0000,300.000,300.000
29,Equatorial Guinea,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.0000,0.000,0.000
30,Ethiopia,1200.000,1264.000,1331.000,1402.000,1476.000,1555.000,1637.000,1724.000,1816.000,...,3210.000,3383.000,3383.000,3400.000,3550.000,3625.000,3700.000,3725.0000,3750.000,3800.000
31,Gabon,1.700,1.000,0.800,0.800,1.000,0.800,0.833,0.800,0.800,...,0.250,0.947,1.032,0.967,0.583,0.517,0.500,0.5000,0.500,0.500
32,Ghana,17.000,17.000,17.000,17.000,28.000,28.000,3.000,3.000,1.000,...,2.000,2.000,2.000,2.000,2.000,2.000,2.000,2.0000,2.000,2.000
33,Guatemala,300.000,300.000,300.000,310.000,310.000,310.000,300.000,300.000,300.000,...,320.000,340.000,350.000,360.000,370.000,380.000,390.000,390.0000,395.000,395.000
34,Guinea,25.000,25.000,62.500,33.000,50.000,50.000,50.000,50.000,50.000,...,50.000,50.000,50.000,50.000,50.000,50.000,50.000,50.0000,50.000,50.000
35,Guyana,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,4.867,...,8.233,8.500,8.600,8.700,8.800,8.900,9.000,9.0000,9.000,9.000
36,Honduras,188.154,257.100,240.000,230.000,253.000,161.000,167.924,161.000,138.000,...,306.667,335.000,340.000,345.000,350.000,355.000,365.000,370.0000,375.000,375.000
37,India,903.000,916.667,917.000,833.333,835.000,837.000,838.000,839.000,900.000,...,1325.000,1325.000,1325.000,1375.000,1400.000,1430.000,1450.000,1440.0000,1470.000,1475.000
38,Jamaica,7.000,11.000,6.000,9.600,15.000,15.000,18.000,20.000,14.800,...,9.000,9.000,9.000,9.000,9.000,9.000,9.000,9.0000,9.000,9.000
39,Kenya,50.000,50.000,50.000,50.000,50.000,50.000,50.000,50.000,50.000,...,50.000,50.000,50.000,50.000,55.000,55.000,60.000,60.0000,65.000,70.000
40,Lao People's Democratic Republic,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,150.000,150.000,150.000,150.000,150.000,150.000,150.000,150.0000,155.000,155.000
41,Liberia,3.000,3.000,3.000,5.000,5.000,5.000,5.000,5.000,5.000,...,5.000,5.000,5.000,5.000,5.000,5.000,5.000,5.0000,5.000,5.000
42,Mexico,1374.000,1200.000,1300.000,1070.000,1020.000,1179.000,1235.000,1201.000,1108.000,...,2200.000,2354.000,2354.000,2354.000,2321.000,2347.000,2329.000,2360.0000,2400.000,2450.000
43,Nepal,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.0000,0.000,0.000
44,Nicaragua,34.000,138.000,65.600,108.900,89.600,111.500,95.370,123.000,126.500,...,196.622,202.745,205.261,207.864,209.561,211.742,213.946,216.7280,218.000,220.000
45,Nigeria,27.500,35.750,35.750,40.000,40.000,40.000,40.000,40.000,40.000,...,40.000,40.000,40.000,40.000,40.000,40.000,40.000,40.0000,40.000,40.000
46,Panama,63.000,67.000,67.000,67.000,76.667,76.667,76.667,80.615,67.000,...,67.000,67.000,67.000,67.000,67.000,67.000,67.000,67.0000,67.000,67.000
47,Sierra Leone,9.000,9.000,9.000,5.000,5.000,8.000,8.000,5.000,5.000,...,5.000,5.000,5.000,5.000,5.000,5.000,5.000,5.0000,5.000,5.000
48,Sri Lanka,66.667,67.000,28.000,20.000,20.000,20.000,20.000,20.000,30.000,...,30.000,35.000,35.000,35.000,35.000,35.000,35.000,35.0000,35.000,35.000
49,Thailand,188.000,220.000,233.000,250.000,283.000,417.000,333.000,390.000,433.000,...,700.000,775.000,1100.000,1130.000,1200.000,1250.000,1300.000,1350.0000,1375.000,1400.000
50,Togo,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,2.000,...,2.000,2.000,0.210,0.242,0.238,0.195,0.220,0.2540,0.254,0.254
51,Trinidad & Tobago,8.000,11.500,10.000,10.000,14.000,14.000,14.000,14.000,14.000,...,11.000,10.000,10.000,10.000,10.000,10.000,10.000,10.0000,10.000,10.000
52,Uganda,70.000,75.000,75.000,75.000,80.000,80.000,80.000,101.190,116.000,...,188.700,204.000,210.000,216.000,220.800,229.200,234.000,240.0000,244.800,250.000
53,Venezuela,782.390,815.480,849.970,885.930,923.400,962.460,1003.180,1045.610,1089.840,...,1650.000,1650.000,1650.000,1650.000,1650.000,1650.000,1650.000,1650.0000,1600.000,1550.000
54,Viet Nam,150.000,230.000,250.000,267.000,267.000,281.845,297.516,314.058,331.519,...,1208.000,1583.000,1650.000,1825.000,2000.000,2200.000,2300.000,2400.0000,2500.000,2700.000
55,Yemen,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,130.000,130.000,130.000,130.000,130.000,125.000,115.000,100.0000,90.000,65.000

In [22]:
export_renamed = export_consumption_data.rename(columns = {'domestic_consumption' : 'Country'})
export_renamed

,Country,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,Angola,20.000,30.000,35.000,20.000,25.000,10.000,20.000,40.000,30.000,...,30.000,30.000,30.000,30.000,30.000,30.000,30.000,30.0000,30.000,30.000
1,Bolivia (Plurinational State of),25.000,27.000,27.500,28.500,29.500,30.500,31.500,32.500,33.000,...,46.000,47.500,49.000,50.500,52.000,53.500,55.000,57.0000,58.500,60.000
2,Brazil,8200.000,8500.000,8900.000,9100.000,9300.000,10100.000,11000.000,11500.000,12200.000,...,18390.000,19132.000,19720.000,20330.000,20085.000,20333.000,20508.000,21225.0000,21997.000,22250.000
3,Burundi,2.000,1.600,1.700,1.910,2.000,2.000,2.000,2.000,2.000,...,1.399,2.000,2.000,2.000,2.000,2.000,2.000,2.0000,2.000,2.000
4,Ecuador,350.000,350.000,350.000,350.000,350.000,350.000,300.000,300.000,300.000,...,150.000,150.000,150.000,150.000,155.000,155.000,155.000,155.0000,155.000,155.000
5,Indonesia,1242.000,1280.000,1319.000,1359.000,1400.000,1443.000,1486.000,1532.000,1578.000,...,3333.000,3333.000,3667.000,3900.000,4250.000,4417.000,4550.000,4650.0000,4750.000,4800.000
6,Madagascar,350.000,300.000,350.000,360.000,166.666,167.000,167.000,167.000,167.000,...,467.000,467.000,450.000,430.000,410.000,390.000,370.000,360.0000,365.000,375.000
7,Malawi,2.000,2.000,2.000,2.000,2.000,2.000,2.000,2.000,2.000,...,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.0000,1.000,1.000
8,Papua New Guinea,3.000,3.000,3.000,2.000,2.000,2.000,2.000,2.000,1.000,...,2.000,1.430,1.236,1.711,2.039,1.924,1.800,2.0000,2.000,2.000
9,Paraguay,15.000,15.000,15.000,20.000,20.000,20.000,20.000,20.000,20.000,...,20.000,20.000,20.000,20.000,20.000,20.000,20.000,20.0000,20.000,20.000
10,Peru,190.000,190.000,200.000,200.000,200.000,200.000,200.000,200.000,200.000,...,250.000,250.000,250.000,250.000,250.000,250.000,250.000,250.0000,250.000,250.000
11,Rwanda,1.000,1.000,1.000,1.000,1.000,1.000,1.000,3.000,3.000,...,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.0000,1.000,1.000
12,Timor-Leste,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.490,0.490,0.490,0.490,0.490,0.490,0.4900,0.490,0.490
13,Zimbabwe,8.000,8.000,8.000,8.333,8.333,6.600,4.000,4.000,4.000,...,4.000,4.000,4.000,4.000,4.000,4.000,4.000,4.0000,4.000,4.000
14,Congo,3.000,2.667,2.667,3.000,3.000,3.000,3.000,3.000,3.000,...,3.000,3.000,3.000,3.000,3.000,3.000,3.000,3.0000,3.000,3.000
15,Cuba,213.000,213.000,195.000,194.100,194.000,194.000,189.000,195.000,200.000,...,220.000,220.000,220.000,220.000,220.000,220.000,220.000,220.0000,220.000,220.000
16,Dominican Republic,320.000,320.000,320.000,320.000,330.000,350.000,325.000,325.000,325.000,...,378.000,378.000,378.000,378.000,383.333,388.000,388.000,390.0000,390.000,390.000
17,Haiti,220.000,330.000,330.000,330.000,330.000,330.000,330.000,330.000,330.000,...,340.000,340.000,340.000,340.000,340.000,340.000,340.000,340.0000,340.000,345.000
18,Philippines,720.000,750.000,750.000,770.000,790.000,810.000,831.000,853.000,810.000,...,1820.000,2125.000,2175.000,2325.000,2550.000,2800.000,3000.000,3030.0000,3180.000,3300.000
19,Tanzania,4.000,3.500,19.200,17.500,17.500,13.600,16.600,17.000,17.000,...,47.000,47.000,58.950,71.700,73.467,76.717,92.050,91.3000,91.667,92.000
20,Zambia,1.500,1.500,1.432,1.000,1.500,0.600,1.000,0.600,0.600,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.0000,0.000,0.000
21,Benin,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.0000,0.000,0.000
22,Cameroon,83.300,83.333,83.333,100.000,100.000,100.000,100.000,100.000,100.000,...,69.000,68.333,70.017,71.733,73.483,75.317,76.000,77.0000,78.000,78.000
23,Central African Republic,28.000,28.000,28.000,25.000,15.000,10.000,10.000,10.000,19.000,...,8.333,10.000,13.333,16.667,20.000,20.000,20.000,20.0000,20.000,20.000
24,Colombia,1235.000,1269.000,1303.000,1339.000,1375.000,1359.000,1343.000,1328.000,1312.000,...,1274.479,1311.024,1435.065,1514.242,1617.020,1665.451,1720.373,1736.4414,1793.271,1791.410
25,Costa Rica,375.000,375.000,375.000,375.000,375.000,375.000,375.000,375.000,375.000,...,295.441,407.221,380.888,423.097,335.060,380.742,448.821,329.4570,353.334,365.000
26,Côte d'Ivoire,50.000,50.000,50.000,50.000,50.000,50.000,50.000,50.000,50.000,...,317.000,317.000,317.000,317.000,317.000,317.000,317.000,317.0000,317.000,317.000
27,Democratic Republic of Congo,200.000,200.000,200.000,200.000,200.000,200.000,200.000,200.000,200.000,...,200.000,200.000,200.000,200.000,200.000,200.000,200.000,200.0000,200.000,200.000
28,El Salvador,180.000,180.000,230.000,230.000,230.000,270.000,230.000,191.667,191.667,...,268.300,276.000,273.400,276.600,275.000,280.000,285.000,292.0000,300.000,300.000
29,Equatorial Guinea,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.0000,0.000,0.000
30,Ethiopia,1200.000,1264.000,1331.000,1402.000,1476.000,1555.000,1637.000,1724.000,1816.000,...,3210.000,3383.000,3383.000,3400.000,3550.000,3625.000,3700.000,3725.0000,3750.000,3800.000
31,Gabon,1.700,1.000,0.800,0.800,1.000,0.800,0.833,0.800,0.800,...,0.250,0.947,1.032,0.967,0.583,0.517,0.500,0.5000,0.500,0.500
32,Ghana,17.000,17.000,17.000,17.000,28.000,28.000,3.000,3.000,1.000,...,2.000,2.000,2.000,2.000,2.000,2.000,2.000,2.0000,2.000,2.000
33,Guatemala,300.000,300.000,300.000,310.000,310.000,310.000,300.000,300.000,300.000,...,320.000,340.000,350.000,360.000,370.000,380.000,390.000,390.0000,395.000,395.000
34,Guinea,25.000,25.000,62.500,33.000,50.000,50.000,50.000,50.000,50.000,...,50.000,50.000,50.000,50.000,50.000,50.000,50.000,50.0000,50.000,50.000
35,Guyana,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,4.867,...,8.233,8.500,8.600,8.700,8.800,8.900,9.000,9.0000,9.000,9.000
36,Honduras,188.154,257.100,240.000,230.000,253.000,161.000,167.924,161.000,138.000,...,306.667,335.000,340.000,345.000,350.000,355.000,365.000,370.0000,375.000,375.000
37,India,903.000,916.667,917.000,833.333,835.000,837.000,838.000,839.000,900.000,...,1325.000,1325.000,1325.000,1375.000,1400.000,1430.000,1450.000,1440.0000,1470.000,1475.000
38,Jamaica,7.000,11.000,6.000,9.600,15.000,15.000,18.000,20.000,14.800,...,9.000,9.000,9.000,9.000,9.000,9.000,9.000,9.0000,9.000,9.000
39,Kenya,50.000,50.000,50.000,50.000,50.000,50.000,50.000,50.000,50.000,...,50.000,50.000,50.000,50.000,55.000,55.000,60.000,60.0000,65.000,70.000
40,Lao People's Democratic Republic,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,150.000,150.000,150.000,150.000,150.000,150.000,150.000,150.0000,155.000,155.000
41,Liberia,3.000,3.000,3.000,5.000,5.000,5.000,5.000,5.000,5.000,...,5.000,5.000,5.000,5.000,5.000,5.000,5.000,5.0000,5.000,5.000
42,Mexico,1374.000,1200.000,1300.000,1070.000,1020.000,1179.000,1235.000,1201.000,1108.000,...,2200.000,2354.000,2354.000,2354.000,2321.000,2347.000,2329.000,2360.0000,2400.000,2450.000
43,Nepal,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.0000,0.000,0.000
44,Nicaragua,34.000,138.000,65.600,108.900,89.600,111.500,95.370,123.000,126.500,...,196.622,202.745,205.261,207.864,209.561,211.742,213.946,216.7280,218.000,220.000
45,Nigeria,27.500,35.750,35.750,40.000,40.000,40.000,40.000,40.000,40.000,...,40.000,40.000,40.000,40.000,40.000,40.000,40.000,40.0000,40.000,40.000
46,Panama,63.000,67.000,67.000,67.000,76.667,76.667,76.667,80.615,67.000,...,67.000,67.000,67.000,67.000,67.000,67.000,67.000,67.0000,67.000,67.000
47,Sierra Leone,9.000,9.000,9.000,5.000,5.000,8.000,8.000,5.000,5.000,...,5.000,5.000,5.000,5.000,5.000,5.000,5.000,5.0000,5.000,5.000
48,Sri Lanka,66.667,67.000,28.000,20.000,20.000,20.000,20.000,20.000,30.000,...,30.000,35.000,35.000,35.000,35.000,35.000,35.000,35.0000,35.000,35.000
49,Thailand,188.000,220.000,233.000,250.000,283.000,417.000,333.000,390.000,433.000,...,700.000,775.000,1100.000,1130.000,1200.000,1250.000,1300.000,1350.0000,1375.000,1400.000
50,Togo,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,2.000,...,2.000,2.000,0.210,0.242,0.238,0.195,0.220,0.2540,0.254,0.254
51,Trinidad & Tobago,8.000,11.500,10.000,10.000,14.000,14.000,14.000,14.000,14.000,...,11.000,10.000,10.000,10.000,10.000,10.000,10.000,10.0000,10.000,10.000
52,Uganda,70.000,75.000,75.000,75.000,80.000,80.000,80.000,101.190,116.000,...,188.700,204.000,210.000,216.000,220.800,229.200,234.000,240.0000,244.800,250.000
53,Venezuela,782.390,815.480,849.970,885.930,923.400,962.460,1003.180,1045.610,1089.840,...,1650.000,1650.000,1650.000,1650.000,1650.000,1650.000,1650.000,1650.0000,1600.000,1550.000
54,Viet Nam,150.000,230.000,250.000,267.000,267.000,281.845,297.516,314.058,331.519,...,1208.000,1583.000,1650.000,1825.000,2000.000,2200.000,2300.000,2400.0000,2500.000,2700.000
55,Yemen,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,130.000,130.000,130.000,130.000,130.000,125.000,115.000,100.0000,90.000,65.000

In [127]:
frames = [cleaned_import, export_renamed]

concat_consumption = pd.concat(frames)
concat_consumption = concat_consumption.set_index('Country')
concat_consumption = concat_consumption.reset_index()

concat_consumption

,Country,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,Austria,1340.123985,1302.085970,1212.333964,1335.000982,1086.218996,1011.769996,1075.788000,1087.079597,1104.738197,...,885.715848,902.854329,1117.345643,1269.019458,1249.0,0.0,0.0,0.0,0.0,0.0
1,Belgium,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,934.292881,870.665179,934.468749,914.636559,1245.0,0.0,0.0,0.0,0.0,0.0
2,Belgium/Luxembourg,1124.109984,708.156980,696.372979,789.436984,958.214990,1073.014984,1038.637071,886.263764,1309.406477,...,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
3,Bulgaria,101.782998,16.761001,174.878012,326.955006,352.764006,393.408007,246.474995,274.918003,324.160004,...,409.275903,395.357991,359.519751,375.941251,419.0,0.0,0.0,0.0,0.0,0.0
4,Croatia,0.000000,0.000000,134.545004,131.890000,163.862001,288.481005,304.468998,361.396003,319.730000,...,365.637529,369.838593,367.153143,360.364120,387.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86,Trinidad & Tobago,8.000000,11.500000,10.000000,10.000000,14.000000,14.000000,14.000000,14.000000,14.000000,...,11.000000,10.000000,10.000000,10.000000,10.0,10.0,10.0,10.0,10.0,10.0
87,Uganda,70.000000,75.000000,75.000000,75.000000,80.000000,80.000000,80.000000,101.190000,116.000000,...,188.700000,204.000000,210.000000,216.000000,220.8,229.2,234.0,240.0,244.8,250.0
88,Venezuela,782.390000,815.480000,849.970000,885.930000,923.400000,962.460000,1003.180000,1045.610000,1089.840000,...,1650.000000,1650.000000,1650.000000,1650.000000,1650.0,1650.0,1650.0,1650.0,1600.0,1550.0
89,Viet Nam,150.000000,230.000000,250.000000,267.000000,267.000000,281.845000,297.516000,314.058000,331.519000,...,1208.000000,1583.000000,1650.000000,1825.000000,2000.0,2200.0,2300.0,2400.0,2500.0,2700.0
90,Yemen,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,130.000000,130.000000,130.000000,130.000000,130.0,125.0,115.0,100.0,90.0,65.0

In [153]:
concat_consumption.drop(axis= 0,labels=[2], inplace=True)

In [151]:
concat_consumption['Country'].replace({'Viet Nam' : "Vietnam"}, inplace=True)
concat_consumption['Country'].replace({"Côte d'Ivoire" : "Cote d'Ivoire"}, inplace=True)
concat_consumption['Country'].replace({'Bolivia (Plurinational State of)' : "Bolivia"}, inplace=True)
concat_consumption['Country'].replace({"Lao People's Democratic Republic" : "Lao PDR"}, inplace=True)

In [111]:
gdp_path = "datasets/gdp_per_capita.csv"
gdp_data = pd.read_csv(gdp_path)

gdp_data

,Country Name,Code,1960,1961,1962,1963,1964,1965,1966,1967,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,Unnamed: 65
0,Aruba,ABW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,24712.493263,26441.619936,26893.011506,28396.908423,28452.170615,29350.805019,30253.279358,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,147.612227,147.014904,156.189192,182.243917,162.347592,180.214908,190.845484,192.337167,...,1736.166560,1713.899299,1703.596298,1549.037940,1431.778723,1573.063386,1574.978648,1530.059177,1359.618224,NaN
2,Afghanistan,AFG,59.773234,59.860900,58.458009,78.706429,82.095307,101.108325,137.594298,160.898434,...,638.845852,624.315455,614.223342,556.007221,512.012778,516.679862,485.668419,494.179350,516.747871,NaN
3,Africa Western and Central,AFW,107.932233,113.081647,118.831107,123.442888,131.854402,138.526332,144.326212,128.582470,...,1965.118485,2157.481149,2212.853135,1894.310195,1673.835527,1613.473553,1704.139603,1777.918672,1710.073363,NaN
4,Angola,AGO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5100.097027,5254.881126,5408.411700,4166.979833,3506.073128,4095.810057,3289.643995,2809.626088,1776.166868,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3410.859780,3704.784221,3902.676013,3520.766449,3759.560246,4009.380987,4384.048892,4416.108358,4346.637931,NaN
262,"Yemen, Rep.",YEM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1446.536472,1607.152173,1674.002572,1601.830063,1152.720966,964.264811,758.145242,NaN,NaN,NaN
263,South Africa,ZAF,443.009920,454.962013,473.011405,511.497364,548.996058,584.704163,621.220543,675.135345,...,8222.197279,7467.079185,6988.808739,6259.839681,5756.965741,6690.939847,7005.095413,6624.761865,5655.867654,NaN
264,Zambia,ZMB,232.188564,220.042067,212.578449,213.896759,242.384473,303.281740,343.373670,360.201239,...,1763.069442,1878.346811,1762.427817,1338.290927,1280.806543,1535.196574,1516.368371,1305.001031,985.132436,NaN
265,Zimbabwe,ZWE,278.813847,280.828663,276.688233,277.479715,281.558896,293.308788,277.234532,292.270533,...,1304.968011,1429.998461,1434.896277,1445.069702,1464.588957,1235.189032,1254.642265,1316.740657,1214.509820,NaN

In [141]:
gdp_renamed = gdp_data.rename(columns={"Country Name" : "Country"})
gdp_renamed

,Country,Code,1960,1961,1962,1963,1964,1965,1966,1967,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,Unnamed: 65
0,Aruba,ABW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,24712.493263,26441.619936,26893.011506,28396.908423,28452.170615,29350.805019,30253.279358,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,147.612227,147.014904,156.189192,182.243917,162.347592,180.214908,190.845484,192.337167,...,1736.166560,1713.899299,1703.596298,1549.037940,1431.778723,1573.063386,1574.978648,1530.059177,1359.618224,NaN
2,Afghanistan,AFG,59.773234,59.860900,58.458009,78.706429,82.095307,101.108325,137.594298,160.898434,...,638.845852,624.315455,614.223342,556.007221,512.012778,516.679862,485.668419,494.179350,516.747871,NaN
3,Africa Western and Central,AFW,107.932233,113.081647,118.831107,123.442888,131.854402,138.526332,144.326212,128.582470,...,1965.118485,2157.481149,2212.853135,1894.310195,1673.835527,1613.473553,1704.139603,1777.918672,1710.073363,NaN
4,Angola,AGO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5100.097027,5254.881126,5408.411700,4166.979833,3506.073128,4095.810057,3289.643995,2809.626088,1776.166868,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3410.859780,3704.784221,3902.676013,3520.766449,3759.560246,4009.380987,4384.048892,4416.108358,4346.637931,NaN
262,"Yemen, Rep.",YEM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1446.536472,1607.152173,1674.002572,1601.830063,1152.720966,964.264811,758.145242,NaN,NaN,NaN
263,South Africa,ZAF,443.009920,454.962013,473.011405,511.497364,548.996058,584.704163,621.220543,675.135345,...,8222.197279,7467.079185,6988.808739,6259.839681,5756.965741,6690.939847,7005.095413,6624.761865,5655.867654,NaN
264,Zambia,ZMB,232.188564,220.042067,212.578449,213.896759,242.384473,303.281740,343.373670,360.201239,...,1763.069442,1878.346811,1762.427817,1338.290927,1280.806543,1535.196574,1516.368371,1305.001031,985.132436,NaN
265,Zimbabwe,ZWE,278.813847,280.828663,276.688233,277.479715,281.558896,293.308788,277.234532,292.270533,...,1304.968011,1429.998461,1434.896277,1445.069702,1464.588957,1235.189032,1254.642265,1316.740657,1214.509820,NaN

In [146]:
gdp_renamed['Country'].replace({'United States':'USA'}, inplace=True)

In [205]:
gdp_trimmed = gdp_renamed[gdp_renamed.Country.isin(concat_consumption.Country)]
gdp_trimmed

,Country,Code,1960,1961,1962,1963,1964,1965,1966,1967,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,Unnamed: 65
4,Angola,AGO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5100.097027,5254.881126,5408.411700,4166.979833,3506.073128,4095.810057,3289.643995,2809.626088,1776.166868,NaN
16,Burundi,BDI,70.051910,71.167188,73.435331,78.514621,86.161550,51.381881,52.182552,54.806443,...,252.358871,256.975653,274.857836,305.549653,260.565221,253.826354,238.783467,228.213589,238.990726,NaN
18,Benin,BEN,93.022700,95.572232,94.464497,99.858918,104.339929,110.132585,112.940836,111.951561,...,1145.140105,1251.209767,1291.410185,1076.796698,1087.287331,1136.593872,1241.825298,1219.515506,1291.040972,NaN
28,Bolivia,BOL,102.237722,109.061304,116.924968,123.429341,136.312362,149.640333,162.326054,179.583038,...,2609.880562,2908.200370,3081.878823,3035.971655,3076.656440,3351.124344,3548.590780,3552.068143,3133.099803,NaN
29,Brazil,BRA,NaN,232.480546,251.348317,295.631971,258.605371,269.456290,330.040586,353.110711,...,12370.223255,12300.386712,12112.834955,8813.989806,8710.063290,9928.675897,9151.381732,8897.552966,6796.844542,NaN
34,Central African Republic,CAF,74.687347,80.688064,80.212712,81.917909,88.290116,91.830375,94.398236,95.896484,...,565.801207,380.297911,424.449132,377.422918,402.191645,450.900658,475.953814,467.908032,492.795871,NaN
37,Switzerland,CHE,1787.360348,1971.316323,2131.391652,2294.182847,2501.293190,2620.475547,2784.733548,2960.722586,...,86547.670891,88109.486752,89684.707580,84776.142166,83073.280082,83352.088653,86388.404953,85334.519462,87097.036450,NaN
41,Cote d'Ivoire,CIV,155.899633,170.243050,171.128640,194.212530,226.227042,217.602441,233.614905,238.310488,...,1684.781586,1935.946845,2156.645883,1972.545683,2013.381448,2111.026557,2314.050958,2276.332394,2325.723705,NaN
42,Cameroon,CMR,118.643145,123.514808,128.594637,130.175274,137.629764,141.002515,144.015365,154.677891,...,1403.522915,1527.751257,1604.214035,1382.509790,1413.255957,1469.447500,1585.240534,1533.095688,1537.130218,NaN
45,Colombia,COL,251.041523,274.052264,289.917946,274.314958,328.655032,307.646860,281.566049,293.644264,...,8050.255372,8218.347844,8114.343921,6175.876030,5870.777957,6376.706716,6729.583332,6424.979492,5334.556042,NaN
48,Costa Rica,CRI,381.363682,355.002749,334.309249,344.354657,352.336885,372.280578,393.480684,412.235106,...,10075.004616,10744.091019,10847.169667,11642.778052,12011.222754,12225.574493,12485.423896,12693.827956,12140.854155,NaN
50,Cuba,CUB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6497.314764,6837.711680,7133.337679,7694.014637,8060.796598,8541.213686,8824.194008,9125.878679,9477.852873,NaN
59,Dominican Republic,DOM,204.114871,192.027613,234.051629,258.595782,272.974800,229.023500,245.987545,250.976207,...,6110.366576,6238.132367,6608.825501,6921.520594,7280.883610,7609.353275,8050.644076,8282.117131,7268.196910,NaN
66,Ecuador,ECU,455.462389,375.221305,315.688704,368.629584,440.560234,455.197818,449.920207,459.278799,...,5682.046108,6056.331213,6377.093929,6124.490887,6060.092962,6213.503127,6295.934662,6222.524653,5600.389615,NaN
72,Ethiopia,ETH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,467.077872,499.531530,566.926403,640.541923,717.124870,768.523015,771.524866,855.760885,936.340461,NaN
80,Gabon,GAB,282.417179,331.435802,357.523762,298.470446,410.904083,424.620443,452.662827,490.103276,...,9813.505747,9683.581620,9663.424110,7384.700704,6984.419712,7230.434912,7959.007267,7766.996554,6881.715192,NaN
83,Ghana,GHA,183.449590,190.218883,195.492398,211.064568,230.088780,265.323689,267.748225,214.832148,...,1587.560932,2361.090324,2012.264247,1774.074771,1971.956935,2074.290733,2260.860567,2246.625578,2205.529016,NaN
85,Guinea,GIN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,717.050536,769.003167,787.238564,769.255475,732.291512,855.575271,955.111281,1058.143368,1194.037865,NaN
88,Equatorial Guinea,GNQ,NaN,NaN,34.790581,40.751471,46.976052,234.344085,243.769091,247.844129,...,21711.151595,20390.737274,19394.080663,11283.398054,9250.316493,9667.857801,10005.616792,8419.933336,7143.238705,NaN
92,Guatemala,GTM,252.756171,253.227290,261.179134,280.096636,279.930465,278.828138,283.192725,287.968047,...,3355.036919,3522.773706,3779.642336,3994.636913,4173.301666,4454.048150,4478.424646,4638.634943,4603.339617,NaN
94,Guyana,GUY,297.676423,315.385460,321.545237,282.304071,305.366399,327.115728,344.168077,370.159649,...,5378.810878,5489.140726,5407.147366,5576.825852,5811.397924,6124.953670,6145.819277,6609.511280,6955.939217,NaN
97,Honduras,HND,164.644399,169.909755,179.876306,185.048847,200.434728,216.815395,227.740956,240.546843,...,2129.521439,2088.097206,2190.653139,2286.203037,2326.297278,2436.671636,2492.868968,2556.456891,2389.012431,NaN
100,Haiti,HTI,70.661085,68.764339,70.138046,71.962184,77.862597,82.947608,84.985252,83.411904,...,1337.335946,1432.837618,1435.136470,1386.854191,1290.380508,1369.063734,1479.345827,1312.770636,1272.367992,NaN
106,Indonesia,IDN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,53.537296,...,3694.359340,3623.927241,3491.637491,3331.695115,3562.816334,3837.578024,3893.859578,4135.201531,3869.588427,NaN
109,India,IND,82.188603,85.354301,89.881756,101.126429,115.537496,119.318916,89.997304,96.339136,...,1443.882435,1449.610451,1573.885642,1605.605445,1732.554242,1980.667020,1996.915087,2100.751461,1927.707823,NaN
117,Jamaica,JAM,429.254146,453.057834,463.890513,485.243808,518.813872,553.450686,615.964344,636.616275,...,5209.859264,4989.734089,4834.284009,4907.927415,4843.749900,5070.099503,5359.993789,5369.498371,4664.530242,NaN
119,Japan,JPN,475.319076,568.907743,639.640785,724.693762,843.616879,928.518849,1068.558440,1239.318377,...,49145.280431,40898.647896,38475.395246,34960.639384,39400.739356,38891.086272,39808.168561,40777.608697,40193.252445,NaN
121,Kenya,KEN,97.445501,94.651293,100.394495,103.778721,108.293688,104.711674,118.207910,120.987591,...,1271.815383,1354.820833,1462.220052,1464.554009,1525.235192,1633.491216,1794.091175,1912.647867,1878.580703,NaN
129,Lao PDR,LAO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1581.628710,1831.936916,1999.958203,2140.044323,2324.400917,2455.211559,2569.093892,2635.800015,2629.714583,NaN
131,Liberia,LBR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,675.010192,747.868660,739.911935,721.581051,740.914906,721.085044,710.265998,672.340499,632.936386,NaN
138,Sri Lanka,LKA,142.779622,142.838142,138.536654,117.071988,120.714348,152.852675,153.898791,159.505991,...,3350.521876,3610.289363,3819.253530,3843.780672,3886.291502,4077.043841,4059.208230,3852.265603,3680.673477,NaN
151,Madagascar,MDG,131.993165,133.847761,138.120004,138.407166,142.659340,144.484730,152.107897,157.476309,...,518.152813,541.065944,530.861039,467.235432,475.955557,515.293323,523.945971,522.989524,471.491496,NaN
154,Mexico,MEX,345.230541,363.393271,378.153495,409.045570,469.476137,494.970261,534.273631,565.633409,...,10241.727828,10725.183587,10928.916009,9616.645558,8744.515559,9287.849587,9686.984927,9950.450080,8329.271313,NaN
168,Malawi,MWI,44.523943,46.581585,47.698384,48.505428,48.293285,55.498224,61.407638,62.019928,...,391.561705,348.429874,371.269522,380.596988,315.777987,506.137294,544.593435,591.846390,636.820537,NaN
174,Nigeria,NGA,92.960466,96.979030,104.387029,107.540573,113.168717,117.188635,124.307793,99.406079,...,2723.822191,2961.549422,3098.985791,2687.480056,2176.002772,1968.565398,2027.778549,2229.858652,2097.092473,NaN
175,Nicaragua,NIC,126.248168,131.450653,140.557346,150.503659,170.434841,273.906703,284.558690,299.080935,...,1760.460308,1811.636803,1934.062922,2049.851666,2107.574060,2159.156714,2014.575189,1926.699694,1905.261152,NaN
177,Norway,NOR,1441.755660,1560.324931,1667.247430,1775.582655,1937.884614,2164.468823,2317.194884,2514.043772,...,101524.141852,102913.450844,97019.182753,74355.515858,70460.560532,75496.754058,82267.809316,75719.752897,67329.677791,NaN
178,Nepal,NPL,50.304938,51.811249,55.025689,46.861453,46.003404,67.007471,81.164422,73.967901,...,804.141607,823.359875,844.853125,901.749608,899.523581,1048.453755,1178.525932,1194.956876,1155.142854,NaN
185,Panama,PAN,474.090670,513.251679,542.328186,583.411562,608.100485,648.436082,686.069401,742.114069,...,10722.261472,11889.095066,12796.074029,13630.301141,14343.980257,15146.408512,15544.999079,15774.254941,12509.835290,NaN
186,Peru,PER,253.264921,277.568763,305.761617,325.516339,382.743965,441.182112,507.530953,500.873486,...,6528.971775,6756.752996,6672.877373,6229.100674,6204.996457,6710.507602,6957.793411,7027.612207,6126.874540,NaN
187,Philippines,PHL,286.104330,300.842042,176.460035,189.746866,198.732570,210.847797,225.614437,235.342463,...,2694.305109,2871.429701,2959.645435,3001.043182,3073.654686,3123.245642,3252.110274,3485.340844,3298.829586,NaN
189,Papua New Guinea,PNG,102.176659,106.585325,111.600465,115.664138,125.425000,138.470633,153.945683,170.095313,...,2790.676303,2729.888751,2920.782986,2679.346579,2509.629637,2695.249009,2801.371393,2820.306397,2757.217530,NaN
195,Paraguay,PRY,NaN,NaN,NaN,NaN,NaN,204.200830,208.850135,215.066897,...,5185.141549,5936.975959,6118.318110,5413.776021,5324.609068,5678.869972,5782.784550,5380.963322,5001.072760,NaN
202,Russian Federation,RUS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,15420.874541,15974.644627,14095.648743,9313.013625,8704.898413,10720.332658,11287.355278,11497.649250,10126.721794,NaN
203,Rwanda,RWA,40.537211,40.689268,40.944182,41.218297,41.083879,45.989283,37.488839,46.642743,...,725.169770,722.894329,743.559038,751.077393,744.760749,772.316989,783.637163,820.149289,797.855521,NaN
210,Sierra Leone,SLE,138.938640,139.363570,143.472648,143.620307,150.748971,143.280492,147.155821,134.317457,...,566.378235,716.835827,714.699796,588.228863,501.415166,496.682295,533.991533,521.754837,509.376594,NaN
211,El Salvador,SLV,NaN,NaN,NaN,NaN,NaN,274.175260,282.189733,288.186990,...,3428.409332,3509.526536,3589.042885,3705.579704,3805.995686,3910.254403,4052.624775,4167.730939,3798.636521,NaN
232,Togo,TGO,76.638697,79.120282,81.994444,87.792298,99.937889,109.620121,121.834175,124.878857,...,571.806724,621.398854,640.934220,570.909967,803.151893,830.745277,901.523017,893.352454,914.950792,NaN
233,Thailand,THA,100.767475,107.498001,113.782850,118.143907,125.938694,137.918647,161.005522,166.923063,...,5860.581471,6168.261356,5951.883487,5840.053067,5993.305516,6593.818352,7296.879608,7817.009671,7186.874092,NaN
237,Timor-Leste,TLS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1024.172508,1210.035655,1232.450336,1332.791856,1353.754934,1299.494635,1249.138351,1583.713576,1442.730738,NaN
243,Tunisia,TUN,NaN,NaN,NaN,NaN,NaN,217.911274,224.295088,229.028231,...,4361.687736,4444.816511,4544.016632,4094.836287,3924.363346,3687.777461,3680.892597,3574.654024,3521.591948,NaN
246,Tanzania,TZA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,867.857499,970.399601,1030.077648,947.933352,966.503017,1004.906588,1042.838756,1085.884860,1076.469706,NaN
247,Uganda,UGA,62.509625,63.220967,62.226315,69.173543,76.311486,110.802289,112.032154,113.169218,...,790.131451,810.090395,883.528744,847.267629,736.559847,746.830753,770.600784,798.585734,822.027682,NaN
251,USA,USA,3007.123445,3066.562869,3243.843078,3374.515171,3573.941185,3827.527110,4146.316646,4336.426587,...,51602.931046,53106.536767,55049.988327,56863.371496,58021.400500,60109.655726,63064.418410,65279.529026,63593.443621,NaN
257,Vietnam,VNM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1735.152116,1886.690170,2030.278447,2085.101349,2192.174482,2365.521615,2566.447487,2715.275980,2785.724161,NaN
264,Zambia,ZMB,232.188564,220.042067,212.578449,213.896759,242.384473,303.281740,343.373670,360.201239,...,1763.069442,1878.346811,1762.427817,1338.290927,1280.806543,1535.196574,1516.368371,1305.001031,985.132436,NaN
265,Zimbabwe,ZWE,278.813847,280.828663,276.688233,277.479715,281.558896,293.308788,277.234532,292.270533,...,1304.968011,1429.998461,1434.896277,1445.069702,1464.588957,1235.189032,1254.642265,1316.740657,1214.509820,NaN

In [180]:
concat_consumption

,Country,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,Austria,1340.123985,1302.085970,1212.333964,1335.000982,1086.218996,1011.769996,1075.788000,1087.079597,1104.738197,...,885.715848,902.854329,1117.345643,1269.019458,1249.0,0.0,0.0,0.0,0.0,0.0
1,Belgium,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,934.292881,870.665179,934.468749,914.636559,1245.0,0.0,0.0,0.0,0.0,0.0
3,Bulgaria,101.782998,16.761001,174.878012,326.955006,352.764006,393.408007,246.474995,274.918003,324.160004,...,409.275903,395.357991,359.519751,375.941251,419.0,0.0,0.0,0.0,0.0,0.0
4,Croatia,0.000000,0.000000,134.545004,131.890000,163.862001,288.481005,304.468998,361.396003,319.730000,...,365.637529,369.838593,367.153143,360.364120,387.0,0.0,0.0,0.0,0.0,0.0
5,Cyprus,30.570999,44.697000,39.303999,77.516000,45.369001,42.678000,51.740999,46.495999,46.205999,...,75.437867,73.905648,80.793525,85.398320,89.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86,Trinidad & Tobago,8.000000,11.500000,10.000000,10.000000,14.000000,14.000000,14.000000,14.000000,14.000000,...,11.000000,10.000000,10.000000,10.000000,10.0,10.0,10.0,10.0,10.0,10.0
87,Uganda,70.000000,75.000000,75.000000,75.000000,80.000000,80.000000,80.000000,101.190000,116.000000,...,188.700000,204.000000,210.000000,216.000000,220.8,229.2,234.0,240.0,244.8,250.0
88,Venezuela,782.390000,815.480000,849.970000,885.930000,923.400000,962.460000,1003.180000,1045.610000,1089.840000,...,1650.000000,1650.000000,1650.000000,1650.000000,1650.0,1650.0,1650.0,1650.0,1600.0,1550.0
89,Vietnam,150.000000,230.000000,250.000000,267.000000,267.000000,281.845000,297.516000,314.058000,331.519000,...,1208.000000,1583.000000,1650.000000,1825.000000,2000.0,2200.0,2300.0,2400.0,2500.0,2700.0
90,Yemen,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,130.000000,130.000000,130.000000,130.000000,130.0,125.0,115.0,100.0,90.0,65.0